<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<style>
.pop {
	transition: 0.4s;
	cursor: pointer;
}

.pop:active {
	transform: rotate;
	opacity: 0.5;
}
</style>

		<div class="d-flex justify-content-center">
			<div class="col-8">

				<h3>쇼핑백</h3>

				<table class="table table-striped" th:with="count=0, totalPrice=0">
					<thead class="text-center">
						<tr>
							<th class="col-2">
								<div class="d-flex justify-content-start">
									<div class="fw-bold btn btn-sm btn-outline-dark"
										onclick="checkAllBtn()">전체</div>
								</div>
							</th>
							<th class="col-4">상품정보</th>
							<th class="col-2">수량</th>
							<th class="col-2">판매가</th>
							<th class="col-2">선택</th>
						</tr>
					</thead>

					<tbody>
					
					<th:block th:each="item,status:${cartitems}">
					<th:block th:if="${item.pstock!=0}">
					 <tr>
    	<!-- 상품 선택 체크박스 -->
      <th scope="row" class="d-flex">
	    	<div class="form-check mx-2">
				  <input class="form-check-input" type="checkbox" value="" th:id="'itemId'+${status.index}" th:onclick="'getCheckbox('+${status.index}+')'">
				  <label class="form-check-label" th:for="'itemId'+${status.index}"></label>
				</div>
      	<img th:src="${item.pimage1}" class="card-img-top" style="width: 7rem;" alt="item">
      </th>
      
      
      <!-- 상품정보 -->
      <td>
      
      	<h6 class="fw-bold">[[${item.pbrand}]]</h6>
      	<h6>[[${item.pname}]]</h6>    	
      	<h6>&nbsp;</h6>
      	<h6>&nbsp;</h6>
        <div class="d-flex justify-content-between">
        	<h6 class="text-muted">Color:<span><img th:src="${item.pcolorimage}" class="mx-1" style="width: 20px; height: 20px;"></span>[[${item.pcolor}]] / Size: [[${item.psize}]]</h6>
            
        </div>
      </td> 

      <td>
      <!-- 수량변경(+/- function 수정 필요) -->
      	<div class="d-flex justify-content-center mt-4 mb-3">남은수량 [[${item.pstock}]]<span> 개</span></div>
    	<div class="d-flex justify-content-center">
          <div class="me-2 btn btn-sm fs-5" th:onclick='changeQuantity${status.index}("minus")'>-</div>
          <th:block th:if="${item.pquantity > item.pstock}">
          	<p class="fs-5 mt-1" id="countId${status.index}">[[${item.pstock}]]</p>
          </th:block>
          <th:block th:if="${item.pquantity < item.pstock + 1}">
          	<p class="fs-5 mt-1" id="countId${status.index}">[[${item.pquantity}]]</p>
          </th:block>
          <div class="ms-2 btn btn-sm fs-5" th:onclick='changeQuantity${status.index}("plus")'>+</div>
	   	</div>
        <div class="d-flex justify-content-center">
        <!-- 수량변경 input -->
        <form action="/cart/option" method="post">
          <input type="text" id="pcode" name="pcode" class="form-control" th:value="${item.pcode}" style="display: none;">
          <input type="text" id="origin_pcolor" name="origin_pcolor" class="form-control" th:value="${item.pcolor}" style="display: none;">
          <input type="text" id="origin_psize" name="origin_psize" class="form-control" th:value="${item.psize}" style="display: none;">
          <input type="text" id="new_pcolor2" name="new_pcolor" class="form-control" th:value="${item.pcolor}" style="display: none;">
          <input type="text" id="new_psize2" name="new_psize" class="form-control" th:value="${item.psize}" style="display: none;">
          <input type="text" id="new_pquantity2" name="new_pquantity" class="form-control" th:value="${item.pquantity}" style="display: none;">
          <input class="btn btn-sm" value="[ 변경 ]" type="submit">
        </form>
        </div>
      </td>

	  <!-- 판매가 계산 -->
      <td class="text-center align-middle">
        <span>₩</span>
        <span id="totalId${status.index}">[[${item.pprice * item.pquantity}]]</span>
      </td>
      <td class="text-center align-middle">
      
      
      
        <!-- 상품 삭제 모달 제외 작동o -->
        <form action="/cart/deleteitem" method="post">
          <input type="text" id="pcode" name="pcode" class="form-control" th:value="${item.pcode}" style="display: none;">
          <input type="text" id="pcolor" name="pcolor" class="form-control" th:value="${item.pcolor}" style="display: none;">
          <input type="text" id="psize" name="psize" class="form-control" th:value="${item.psize}" style="display: none;">
          <div class="btn btn-sm" th:id="'deleteModalBtn' + ${status.index}">[ 삭제 ]</div>
          
          <!-- 삭제 확인 Modal -->
          <div class="modal" th:id="'getDeleteModal' + ${status.index}" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">▶ 알림</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-start">
                  <h5>정말 삭제하시겠습니까?</h5> 
                </div>
                <div class="d-flex justify-content-center">
                  <img alt="" src="/images/error_cat.png" class="pop" style="width: 50%;">
                </div>
                <div class="d-flex justify-content-end p-3">             
                  <input class="btn btn-dark me-2" value="확인" type="submit">
                  <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">취소</button>
                </div>
              </div>
            </div>
          </div>
  
        </form>
      </td> 
    </tr>
    </th:block>
    
    
    <!-- 재고가 사라졌을 경우 -->
  	<th:block th:if="${item.pstock == 0}">
    <tr>
      <th scope="row" class="d-flex">
      	<div class="form-check mx-2">
		  <input class="form-check-input" type="checkbox" value="" id="itemId${status.index}"  disabled>
		  <label class="form-check-label" for="itemId${status.index}">
		  </label>
		</div>
      	<img th:src="${item.pimage1}" class="card-img-top" style="width: 7rem;" alt="">
      </th>
      <td>
      	<h6 class="fw-bold">[[${item.pbrand}]]</h6>
      	<h6>[[${item.pname}]]</h6>    	
      	<h6>&nbsp;</h6>
      	<h6>&nbsp;</h6>
        <div class="d-flex justify-content-between">
        	<h6 class="text-muted">Color:<span><img th:src="${item.pcolorimage}" class="mx-1" style="width: 20px; height: 20px;"></span>[[${item.pcolor}]] / Size: [[${item.psize}]]</h6>
          
        </div>
      </td>
      

          
      <td colspan="2" class="text-center align-middle" style="text-decoration: underline;  text-underline-position: under;">
				선택하신 Color/Size 상품이 품절되었습니다.
      </td>

      <td class="text-center align-middle">
        <!-- 상품 삭제 -->
        <form action="/cart/deleteitem" method="post">
          <input type="text" id="pcode" name="pcode" class="form-control" th:value="${item.pcode}" style="display: none;">
          <input type="text" id="pcolor" name="pcolor" class="form-control" th:value="${item.pcolor}" style="display: none;">
          <input type="text" id="psize" name="psize" class="form-control" th:value="${item.psize}" style="display: none;">
          <div class="btn btn-sm" th:id="'deleteModalBtn' + ${status.index}">[ 삭제 ]</div>
          <!-- <input class="btn btn-sm col-6" value="[ 삭제 ]" type="submit"> -->
  
          <!-- 삭제 확인 Modal -->
          <div class="modal" th:id="'getDeleteModal' + ${status.index}" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">▶ 알림</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-start">
                  <h5>정말 삭제하시겠습니까?</h5> 
                </div>
                <div class="d-flex justify-content-center">
                  <img alt="" src="/images/error_cat.png" class="pop" style="width: 50%;">
                </div>
                <div class="d-flex justify-content-end p-3">             
                  <input class="btn btn-dark me-2" value="확인" type="submit">
                  <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">취소</button>
                </div>
              </div>
            </div>
          </div>
          </form>
      </td> 
    </tr>
    
    </th:block>
    
    <!-- ?? -->
    <h5 id="tempId${status.index}" style="display: none;">[[${item.pprice}]]</h5>
    
     <script>  
    // deleteModal
		$('#deleteModalBtn[[${status.index}]]').click(function(e){
			e.preventDefault();
			$('#getDeleteModal[[${status.index}]]').modal("show");
		});

		    
    </script>
    
    
	</th:block>
					
				
						
						<!-- 쇼핑백에 상품이 없을 경우-->
						<th:block th:if="${#lists.size(cartitems)==0}">
							<tr>
								<td colspan="12" class="text-center align-middle" style="height: 160px;">
								<h4>쇼핑백에 상품이 담겨있지 않습니다.</h4>
								</td>
							</tr>
						</th:block>

						<!-- 쇼핑백 상품 합계 -->

<!-- 						<tr>
							<td colspan="3"></td>
							<td colspan="3">
								<div class="pe-5">
									<div class="d-flex justify-content-between mt-2">
										<div class="fs-5">총</div>
										<div>
											<span class="fw-bold fs-5 ms-2" id="finalCountValue" style="color: darkKhaki">0</span>
											<span class="fs-5">개 상품</span>
										</div>
										<div style="display: none;">
											<span class="fw-bold fs-5 ms-2" id="testcount" style="color: darkKhaki">0</span>
											<span class="fs-5">개 상품</span>
										</div>
									</div>
									<div class="d-flex justify-content-between mt-3">
										<h6>상품 합계</h6>
										<div class="d-flex">
											<h6>₩&nbsp;</h6>
											<h6 id="finalTotalValue1">0</h6>
										</div>
									</div>
									<div class="d-flex justify-content-between mb-2">
										<h6>배송비</h6>
										<h6>₩ 0</h6>
									</div>
									<div class="d-flex justify-content-between">
										<div class="fs-5">합계</div>
										<div>
											<span class="fs-5">₩&nbsp;</span>
											<span class="fw-bold fs-5" id="finalTotalValue2" style="color: darkKhaki">0</span>
										</div>
										<div style="display: none;">
											<span class="fs-5">\&nbsp;</span>
											<span class="fw-bold fs-5" id="testtotal" style="color: darkKhaki">0</span>
										</div>

									</div>
								</div>
							</td>
						</tr> -->

					</tbody>
				</table>

				<div class="d-flex justify-content-center mt-5">
					<a th:href="@{/list/view}" class="btn btn-outline-dark col-3 me-3">쇼핑
						계속하기</a>
					<form action="/order/orderPage" method="post" class="col-3">
						<th:block th:each="result,rstatus:${cartitems}">
							<input type="text" id="isSelected${rstatus.index}"
								name="isSelected" class="form-control" th:value="1"
								style="display: none;">
							<input type="text" id="orderPcode" name="orderPcode"
								class="form-control" th:value="${result.pcode}"
								style="display: none;">
							<input type="text" id="orderPimage1" name="orderPimage1"
								class="form-control" th:value="${result.pimage1}"
								style="display: none;">
							<input type="text" id="orderPcolorimage" name="orderPcolorimage"
								class="form-control" th:value="${result.pcolorimage}"
								style="display: none;">
							<input type="text" id="orderPbrand" name="orderPbrand"
								class="form-control" th:value="${result.pbrand}"
								style="display: none;">
							<input type="text" id="orderPname" name="orderPname"
								class="form-control" th:value="${result.pname}"
								style="display: none;">
							<input type="text" id="orderPcolor" name="orderPcolor"
								class="form-control" th:value="${result.pcolor}"
								style="display: none;">
							<input type="text" id="orderPsize" name="orderPsize"
								class="form-control" th:value="${result.psize}"
								style="display: none;">
							<input type="text" id="orderPprice" name="orderPprice"
								class="form-control" th:value="${result.pprice}"
								style="display: none;">
							<input type="text" id="orderPquantity" name="orderPquantity"
								class="form-control" th:value="${result.pquantity}"
								style="display: none;">
						</th:block>
						
						
						<input class="btn btn-dark" id="disabledBtn" value="주문하기"
							type="submit" style="width: 100%; dispaly: block;" >
						<input class="btn btn-dark" id="abledBtn" value="주문하기"
							type="submit" style="width: 100%; display: none;">
					</form>
				</div>

			</div>
		</div>

	</th:block>
</th:block>

</html>